html {
    overflow-y: hidden;
    /*margin-right: calc(-1 * (100vw - 100%));*/
}

.linktext {
    display: flex;
    align-items: center;
    justify-content: center;
}

#abt {
    background-image: url("images/rec1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

#res:hover, #proj:hover {
    background-image: url("images/rec2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

@media screen and (min-width: 900px) { /*900 px or bigger*/
    #himobile, #name {
        display: none;
    }

    #hidesk {
        display: flex;
        align-self: center;
        width: 40%;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        height: 80vh;
        justify-content: space-between;
        align-items: center;
    }

    .main {
        width: 50%;
        justify-content: center;
    }
}

@media screen and (max-width: 900px) { /*mobile*/
    #hidesk {
        display: none;
    }
}