html {
    overflow-y: hidden;
    /*margin-right: calc(-1 * (100vw - 100%));*/
}

.linktext {
    display: flex;
    align-items: center;
    justify-content: center;
}

#abt {
    background-image: url("images/rec1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

#res:hover, #proj:hover {
    background-image: url("images/rec2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

@media screen and (min-width: 900px) { /*900 px or bigger*/
    #himobile {
        display: none;
    }
    #hidesk {
        display: flex;
    }

    .header {
        /*min-height: 160px;*/
        align-items: flex-end;
        align-content: center;
        justify-content: space-between;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}