body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    height: 100vh;
    width: 100vw;
    background-color: rgb(32, 122, 113);
}

#hello {
    height: 50vh;
    max-width: 75vw;
    z-index: 100;
}

#arrow {
    position: fixed;
    top: 45%;
    right: 15%;
    width: 3%;
    z-index: 101;
}

#laptop {
    position: fixed;
    bottom: 10%;
    left: 10%;
    height: 20vh;
    max-width: 25%;
}

#leaves {
    position: fixed;
    transform: rotate(45deg);
    bottom: -25%;
    right: 12%;
    width: 13%;
}

#camp {
    position: fixed;
    transform: rotate(-10deg);
    top: 2%;
    right: 25%;
    height: 27%;
    max-width: 10vw;
}

#spark1 {
    position: fixed;
    transform: rotate(3deg);
    bottom: 25%;
    left: 22%;
    height: 12%;
    max-width: 10%;
}

#spark2 {
    position: fixed;
    transform: rotate(3deg);
    bottom: 3%;
    right: 25%;
    height: 12%;
    max-width: 10%;
}

#words {
    position: fixed;
    transform: rotate(-9deg);
    top: 4%;
    left: 8%;
    height: 5%;
    max-width: 17%; /*check*/
}

.spine { /*spacing is prob gonna need to be fixed*/
    position: fixed;
    left: 0%;
    top: -2%;
    width: 4vw;
    height: 100vh;
    background-image: url("images/spine-spaced.svg");
    background-repeat: space;
}

.sticker {
    filter: drop-shadow(0 0 1px dimgray);
    z-index: 0;
}

@media screen and (max-width: 1200px) {
    #spark1 {
        left: 6%;
    }
}

@media screen and (max-width: 900px) {
    #arrow {
        right: 7%;
        min-height: 10vh;

    }
    #leaves {
        bottom: 10%;
        right: 12%;
        width: 13%;
    }
    #laptop {
        bottom: 8%;
    }
    #camp {
        right: 10%;
    }
}
/*
@media screen and (max-width: 600px) {
    #arrow {
        right: 3%;
        min-height: 10vh;    
}
}
*/
@media screen and (max-width: 450px) {
    #leaves {
        bottom: 18%;
    }
    #arrow {
        right: 2%;
        min-height: 10vh;
    }
}
