.linktext {
    display: flex;
    align-items: center;
    justify-content: center;
}

#abt:hover {
    background-image: url("images/circle1.png");
    background-repeat: no-repeat;
    background-position: center;
}

#port {
    background-image: url("images/circle2.png");
    background-repeat: no-repeat;
    background-position: center;
}

#res:hover {
    background-image: url("images/circle2.png");
    background-repeat: no-repeat;
    background-position: center;
}

#proj:hover {
    background-image: url("images/circle3.png");
    background-repeat: no-repeat;
    background-position: center;
}

#const {
    position: relative;
    transform: rotate(-5deg);
    top: 40%;
    left: 30%;
    max-width: 35%;
}