html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

.linktext {
    display: flex;
    align-items: center;
    justify-content: center;
}

#abt:hover {
    background-image: url("images/circle1.png");
    background-repeat: no-repeat;
    background-position: center;
}

#res:hover, #port:hover {
    background-image: url("images/circle2.png");
    background-repeat: no-repeat;
    background-position: center;
}

#proj {
    background-image: url("images/circle3.png");
    background-repeat: no-repeat;
    background-position: center;
}

.main a {
    text-decoration: underline;
}

li a:first-of-type {
    font-weight: bold;
}

#laptop {
    position: absolute;
    top: 40%;
    right: 9%;
    height: 20vh;
}

@media screen and (max-width: 1250px) {
    #laptop {
        position: absolute;
        top: 45%;
    }
}


@media screen and (max-width: 1100px) {
    #laptop {
        position: absolute;
        top: 55%;
    }
}
