html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

.linktext {
    display: flex;
    align-items: center;
    justify-content: center;
}

#abt:hover {
    background-image: url("images/rec1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;

}

#proj {
    background-image: url("images/rec2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;

}

#res:hover {
    background-image: url("images/rec2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;

}

.main a {
    text-decoration: underline;
}

li a:first-of-type {
    font-weight: bold;
}

#laptop {
    position: relative;
    left: 75%;
    bottom: 10%;
    height: 20vh;
    max-width: 25vw;
}

