html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

.linktext {
    display: flex;
    align-items: center;
    justify-content: center;
}

#abt:hover {
    background-image: url("images/rec1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#res {
    background-image: url("images/rec2.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#proj:hover {
    background-image: url("images/rec2.svg");
    background-repeat: no-repeat;
    background-position: center;
}

iframe {
    height: calc(65vw / 8.5 * 11.6);
}  

.main a {
    align-self: center;
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    iframe {
        display: none;
    }
    .main {
        height: 20vh;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 480px) and (orientation: portrait) {
    .main a {
        display: none;
    }
    iframe {
        height: calc(78vw / 8.5 * 11.6);
    } 
}

@media screen and (orientation: landscape) {
    .main a {
        display: none;
    }
}
