html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

.linktext {
    display: flex;
    align-items: center;
    justify-content: center;
}

#abt:hover {
    background-image: url("images/circle1.png");
    background-repeat: no-repeat;
    background-position: center;
}

#res {
    background-image: url("images/circle2.png");
    background-repeat: no-repeat;
    background-position: center;
}

#port:hover {
    background-image: url("images/circle2.png");
    background-repeat: no-repeat;
    background-position: center;
}

#proj:hover {
    background-image: url("images/circle3.png");
    background-repeat: no-repeat;
    background-position: center;
}

iframe {
    height: calc(65vw / 8.5 * 11.6);
}  

@media screen and (orientation: portrait) {
    iframe {
        display: none;
    }
}

@media screen and (orientation: landscape) {
    main a {
        display: none;
    }
}
