body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #E9F1F4;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 100vh;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    z-index: 100;
}

.header {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-height: 25vh; /*works desktop*/
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    max-width: 90vw;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
}
h2, h3 {
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

#name {
    height: 10vh;
    max-width: 80vw;
}

.main {
    display: flex;
    flex-direction: column;
    width: inherit;
    /*border: solid blue;*/
}

#abt {
    width: 117px;
    height: 50px;
}

#res {
    width: 139px;
    height: 50px;
}

#proj {
    width: 140px;
    height: 50px;
}

@media screen and (min-width: 800px) { /*800 px or bigger*/
    .links {
        width: 40%;
    }

    .header {
        min-height: 20vh;
        width: 100%;
        align-content: center;
        justify-content: space-between;
        width: 70vw;
        align-items: center;
    }
    .content {
        width: 70vw;
    }
}