body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #E9F1F4;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 100vh;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    z-index: 100;
}

.header {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    /*height: 20vh;*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: solid red;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    max-width: 90vw;
    /*border: solid green;*/
}

a {
    text-decoration: none;
    color: black;
}

#name {
    height: 10vh;
    max-width: 80vw;
    /*border: solid black;*/
}

.main {
    display: flex;
    flex-direction: row;
    width: inherit;
    /*border: solid blue;*/
}

#abt {
    width: 117px;
    height: 50px;
}

#res {
    width: 139px;
    height: 50px;
}

#proj {
    width: 140px;
    height: 50px;
}

@media screen and (min-width: 900px) { /*900 px or bigger*/
    .links {
        width: 50%;
    }
}